In [1]:
import pandas as pd

In [2]:
df_fake = pd.read_csv('adult.csv')
df_fake.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
print(df_fake['fnlwgt'].nunique())
print()
# print(df_fake['age'].value_counts())
print()
df_fake['fnlwgt'].sort_values()

21648

17096      12285
27207      13769
25743      14878
24012      18827
10826      19214
          ...
8258     1226583
15569    1268339
16739    1366120
18138    1455435
14449    1484705
Name: fnlwgt, Length: 32561, dtype: int64

In [1]:
import os
os.getcwd()

'c:\\Users\\RohSeungchan\\CTGAN\\examples\\csv'